<?xml version="1.0" encoding="UTF-8" ?>
<context>
    <params>
        <param name="x" initValue="20.0"/>
        <param name="y"/>
        <param name="z"/>
        <param name="a"/>
        <param name="b" initValue="1.0"/>
    </params>
    <indices>
        <index>
            <id>index1</id>
            <formula>${params.x} * ${params.y}</formula>
        </index>
        <index>
            <id>index2</id>
            <formula>${params.z} * ${indices.index1}</formula>
            <initialValue>1.0</initialValue>
        </index>
        <index>
            <id>index3</id>
            <formula>${params.a} / ${params.b}</formula>
            <initialValue>1.0</initialValue>
        </index>
    </indices>
    <measures>
        <measure>
            <id>SOME_MEASURE</id>
            <includes>
                <indexId>index1</indexId>
                <indexId>index2</indexId>
            </includes>
        </measure>
        <measure>
            <id>SOME_MEASURE2</id>
            <includes>
                <indexId>index3</indexId>
            </includes>
        </measure>
        <measure>
            <id>SOME_MEASURE3</id>
            <includes>
                <measureId>SOME_MEASURE</measureId>
            </includes>
        </measure>
    </measures>
</context>